<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="" method="post">
      <label for="">username</label>
      <input type="text" name="" value=""><br>
      <label for="">password</label>
      <input type="password" name="" value=""><br>
      <button type="button" name="button">
        <a href="/buyersInterface">sign as coustmer</a>
      </button>
      <button type="button" name="button">
        <a href="/products">sign as seller</a>
      </button>
    </form>
  </body>
</html>