<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hastkala</title>
</head>

<body>
    <form action="/buyersInterface" method="get">
        <h1>some getaway method </h1>
        <h2>his adress whit ability to change it </h2>
        <label for="quantity">quantity</label>
        <input type="number" name="quantity" id="quantity">
        <button type="submit">buy</button>
    </form>
</body>

</html>